$header-height: 7rem;
$poster: 23rem;
$poster-h: 35rem;

$card-container: rgba(100, 100, 100, 0.3);
$header: black;
$main: rgb(20, 20, 20);
$stars: yellow;
$emptystars: orange;
$opac: rgba(0, 0, 0, 0.75)

